
@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100c14;
  overflow: hidden;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Custom scrollbar for aesthetic purposes */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
